@import './../../styles/roots';

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url('./../../assets/images/presentations/RectangleBG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 110px 88px;
	position: relative;
}

.container > * {
	z-index: 10;
}
