@import './../../../styles/roots';

.wrapper {
	width: 100%;
	padding: 20px 88px;

	.container {
		.items {
			display: flex;
			width: 100%;
			justify-content: space-between;

			.item {
				.value {
					font-size: 40px;
					font-size: 64px;
					font-weight: 900;
					background: $linear-gradient;
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;
				}

				.title {
					text-align: center;
					font-size: 28px;
				}
			}
		}
	}
}
